<script>
    function xData() {
        return {
            orders: [],
            keyword:'',
            clear:function(){
                this.keyword = '';
                setTimeout(() => {
                    this.fetchOrders();
                }, 50);
            },
            fetchOrders: async function () {
                try {
                    const response = await fetch('/order?keyword='+(keyword.value??''));
                    const data = await response.json();
                    console.log(data);
                    this.orders = data.orders;
                } catch (error) {
                    console.error('Error fetching orders:', error);
                }
            },
            deleteHandler: async function(id){
                try {
                const response = await fetch('/order/'+id,{
                    method:'DELETE'
                });
                if (response.ok) {
                alert('Order deleted successfully!');
                this.fetchOrders();
                } else {
                alert('Error deleting order. Please try again.');
                }
                } catch (error) {
                    console.error('Error deleting order:', error);
                }
            }
        };
    }
</script>
<main x-data="xData()" x-init="fetchOrders">
    <h2>All Orders</h2>
    <input type="search" name="keyword" id="keyword" x-model="keyword">
    <button type="button" @click="fetchOrders">Search</button>
    <button type="button" @click="clear">clear</button>
    <table>
        <thead>
            <tr>
                <th>Order</th>
                <th>Description</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="order in orders" :key="order.id">
                <tr>
                    <td x-text="order.title"></td>
                    <td x-text="order.description"></td>
                    <td x-text="order.price"></td>
                    <td x-text="order.createdAt"></td>
                    <td x-text="order.status"></td>
                    <td>
                        <a :href="'/single/'+order.id">view</a>
                        <button type="button" @click="deleteHandler(order.id)">delete</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</main>