<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icosnet Test</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/create.css">
    <script defer src="/public/alpine.min.js"></script>
    <script>
    function xData() {
        return {
            order: [],
            fetchOrder: async function () {
                try {
                    
                    const response = await fetch('/order/'+location.pathname.split('/')[2]);
                    const data = await response.json();
                    this.order = data.order;
                    console.log(data.order);
                } catch (error) {
                    console.error('Error fetching order:', error);
                    alert('order not exist');
                    location.href = '/';
                }
            },
        };
    }
    </script>
</head>
<body>
    <h1>Enhanced Order Management System</h1>
    <%- include('../header.ejs') %>
    <div class="single">
        <h2>Order Details</h2>
        <table>
            <tr>
                <th>Order</th>
                <th>Description</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Status</th>
            </tr>
            <tr x-data="xData()" x-init="fetchOrder">
                <td x-text="order.title"></td>
                <td x-text="order.description"></td>
                <td x-text="order.price"></td>
                <td x-text="order.createdAt"></td>
                <td x-text="order.status"></td>
            </tr>
        </table>
    </div>
</body>
</html>