<script>
    async function logout(ev) {
      
        try {
            const response = await fetch('/client/logout', {
                method: 'POST',
                });
  
            if (response.ok) {
                alert('success');
                location.href = '/';
            } else {
              alert('invalid request.');
            }
        } catch (error) {
          alert('An unexpected error occurred:', error);
          }
        }
</script>
<header>
    <nav>
        <a href="/">Home</a>
        <% if (role=='visitor') { %>
            <a href="/login">Login</a>
            <% } else { %>
            <a href="/create">Create Order</a>
            <button onclick="logout()">Logout</button>
        <% } %>
    </nav>
</header>