<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icosnet Test</title>
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="public/create.css">
    <script defer src="public/alpine.min.js"></script>

</head>
<body>
    <h1>Enhanced Order Management System</h1>
    <%- include('../header.ejs') %>